:root {

    /* base */

    --bg-main: #020817;
    --bg-card: #0b1220;
    --bg-soft: #111827;

    /* text */

    --text-main: #e5e7eb;
    --text-soft: #9ca3af;
    --text-muted: #6b7280;

    /* accent */

    --accent: #2563eb;
    --success: #34d399;
    --danger: #fb7185;

    /* border */

    --border: rgba(255,255,255,0.08);
}

/* глобальные стили */

html,
body {
    margin:0;
    padding:0;

    background: var(--bg-main);
    color: var(--text-main);

    font-family:
            -apple-system,
            BlinkMacSystemFont,
            "SF Pro Text",
            Inter,
            system-ui,
            sans-serif;

    -webkit-font-smoothing: antialiased;
}